@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*Teste GIT*/
body{
    background-color: #000000;
    color: #ffffff;
    /*Serve para deixar o body com a altura total do viewport*/
    height: 100vh;
    /*Border-box no box-sizing serve para fazer com que os elementos dentro do body não ocupem um espaço fora dele*/
    box-sizing: border-box;
}

.container{
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-conteudo-titulo {
    font-size: 36px;
    color: #8672B2;
    font-family: 'Libre Baskerville', serif;
}

.container-conteudo-texto {
    margin-top: 30px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.container-conteudo-lista {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.container-botao {
    display: flex;
    justify-content: space-between;
}

.container-botao-link {
    margin-top: 25px;
    background-color: #8672B2;
    width: 250px;
    text-align: center;
    border-radius: 16px;
    padding: 15px 0;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}