@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-fundo:#000000;
    --cor-fonte:#ffffff;
    --cor-detalhes-primaria:#8672B2;
    --cor-detalhes-secundaria:#bdace0;
    --cor-detalhes-terciaria:#2b2a2a;
    --fonte-primaria:'Montserrat', sans-serif;
    --fonte-secundaria: 'Libre Baskerville', serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color:  var(--cor-fonte);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-size: 1.125rem;
    color: var(--cor-detalhes-primaria);
    font-weight: 600;
    font-family: var(--fonte-primaria);
    text-decoration: none;
}

.cabecalho-menu-link:hover {
    color: var(--cor-detalhes-secundaria);
}

.container {
    padding: 6.6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-conteudo-titulo {
    font-size: 2.25rem;
    color: var(--cor-detalhes-primaria);
    font-family: var(--fonte-secundaria);
}

.container-conteudo-texto {
    margin-top: 30px;
    font-size: 1rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.container-conteudo-lista {
    margin-top: 15px;
    font-size: 0.875rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.container-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.container-botao-subtitulo {
    font-size: 1rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.container-botao-link {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
    border: 2px solid var(--cor-detalhes-primaria);
    width: 290px;
    text-align: center;
    border-radius: 8px;
    padding: 15px 0;
    font-size: 1rem;
    color: var(--cor-fonte);
    font-weight: 600;
    font-family: var(--fonte-primaria);
    text-decoration: none;
    align-items: center;
}

.container-botao-link img {
    width: 10%;
}

.container-botao-link:hover {
    border: 2px solid var(--cor-detalhes-secundaria);
    background-color: var(--cor-detalhes-terciaria);
}

.rodape {
    font-size: 1rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    background-color: var(--cor-detalhes-primaria);
    padding: 24px;
    text-align: center;
}